* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/xp.jpg);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: cover;


}

@media (max-width: 1900px) {
    body {
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        background-size: auto;

    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(89, 142, 255);
    gap: 5px;
    list-style-type: none;
    padding: 3px;
}

.li {
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.51);
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    display: flex;
    box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    border-radius: 7px;
    width: 150px;
    padding: 10px;
    background-color: rgb(0, 199, 0);
}

.onglet {
    justify-content: center;
    color: white;
    background-color: rgb(52, 115, 250);
    width: 190px;
}

.ico {
    height: 30px;
   
}

@media screen and (max-width: 1250px) {
    .navbar {
        flex-direction: column;
        background-color: none;
        
    }

    ul {
    
        flex-direction: column;
        background-color: unset;

    }
    .onglet  {
        justify-content: start;
    }
}



.horloge {
    font-family:  'Arial Narrow', Arial, sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    right: 0;
    background-color: rgb(106, 150, 246);
    width: 190px;
    height: 56px;
    z-index: 5000;
    box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 14px 16px 34px -16px rgba(255, 255, 255, 1) inset;
    border-radius: 7px;
    transition: all 1s ease-out;
}

@media screen and (max-width: 370px) {
    .horloge{
     display: none;
    }
 }